.idea
.eclipse
target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.settings
*.iml
*.log
*~
*.versionsBackup
pom.xml.releaseBackup
release.properties
logs/
cachedir/
atlassian-ide-plugin.xml
logs
/src/js/**
/node_modules/
/tools
/venv/
/*.egg-info/
__pycache__/
