{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Resource": [
                  "arn:aws:s3:::confyrm-{{env}}-logs-backup/*"
              ],
      "Action": [
                  "s3:PutObject"
              ]
          }
      ]
}
